.page-title {

  &__text {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  &__sub-text {
    letter-spacing: 2px;
    margin-top: 0;
    color: #6b7280;
    font-size: 0.875rem;
  }
}