.section {
  &__title {
    border-bottom: 1px black solid;
    text-transform: uppercase;
    color: black;
    font-size: 0.75rem;
    font-weight: 600;
    padding-bottom: 5px;
    letter-spacing: 2px;
  }
}